<meta charset="utf-8">
<style>
	#footer {
		margin: auto;
		margin-top: 10px;
        width: 1500px;
        height: 150px;
	}
	#footer_img {
		width: 50%;
		margin-bottom: 2%;
		float: left;
	}
	#social {
		margin-left: 550px;
		margin-top: 100px;
		width: 200px;
		float: left;
	}
	.social_img {
		width: 50px;
		height: 50px;
		float: left;
	}
</style>

<div id="footer">
	<img id="footer_img" src="/img/category/footer_img.png">
	<div id="social">
		<img class="social_img" src="/img/category/call.png">
		<img class="social_img" src="/img/category/twitter.png">
		<img class="social_img" src="/img/category/insta.png">
		<img class="social_img" src="/img/category/youtube.png">
	</div>
</div>